<div class="about">
    <h2 class="page-header">关于动漫花园「Dmhy」移动版</h2>
    <div class="content">
        <h3>使用开源组件:</h3>
        <p>Angularjs(v1.7):<a href="https://angularjs.org/">https://angularjs.org/</a></p>
        <p>Bootstrap:<a href="https://getbootstrap.com/">https://getbootstrap.com/</a></p>
        <hr/>
        <p>QQ邮箱:<a href="mailto:1170621609@qq.com">1170621609@qq.com</a></p>
        <p>GitHub:<a href="https://github.com/WuMortal">https://github.com/WuMortal</a></p>
        <p>码云:<a href="https://gitee.com/AMortal">https://gitee.com/AMortal</a></p>
        <p>本站非「动漫花园」官网版，而是获取官方的数据制作的第三方网站(主要是它只有PC端，用着难受啊!)。</p>
        <p>本站只用于学习交流，如有侵权请告知删除。</p>
    </div>
</div>